.title {
    text-align: center;
    color: rgb(11, 230, 215);
}
body{
    background-image: url(./image/fondoForm.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
}
.image{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    /* margin-left: 20%; */
    position: relative;
    z-index: 1;
}

.flex {
    display: flex;
    justify-content: center;
}

.divimputs {
    height: 70px;

}

.label {
    font-size: 20px;
}

.input {
    width: 100%;
    height:30px;
}
.input:hover {
    width: 100%;
    height:30px;
    border-color: white;
    background-color: rgba(128, 128, 128, 0.367);
}


.divboton {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    direction: column;
    width: 100%;
    
}

.botonInput {
    
    background: linear-gradient(90deg, rgba(16,73,201,1) 0%, rgba(16,100,170,1) 22%, rgba(129,205,224,1) 52%, rgba(0,212,255,1) 88%);
    color: white;
    border: 1px double white;
    height: 40px;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    font-size: 25px;
}


.formu{
    width:30%;
    padding: 50px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    margin-top: -50px;
}